
$text-font-stack: 'OpenSans', 'Helvetica', 'Arial', sans-serif !default;
$text-color: #FFFFFF !default;
$text-size: 12px;
$text-size-big: 14px;
$text-placeholder: #9a9a9a;

$body-color: #ba251c;
$max-width: 873px !default;

$breakpoints: (
  'big': (min-width: 321px)
) !default;

$base-url: 'assets/' !default;
$base-fonts: 'assets/fonts/' !default;
